.c--result_container {
  margin-left: 15px;
  margin-right: 1px;
  padding-right: 10px;

  // height: calc(100% - 50 - 30 )
  height: calc(100% - 80px);
  &:before {
    content: '';
    height: 20px;
    display: block;
  }
  &:after {
    content: '';
    height: 20px;
    display: block;
  }

}