.c--question-info_container {
    margin-left: 20px;
    margin-right: 1px;
    padding-right: 10px;
    // app-bar + stageManager  = 45 + 50
    // height: calc(100% - 40px - 50px);
    height: calc(100% - 95px);
    &:after, &:before {
        content: '';
        height: 20px;
        display: block;
    }
}