.c--question-info_container {
    margin-left: 15px;
    margin-right: 1px;
    padding-right: 10px;
    // app-bar + stageManager  = 50 + 40
    // height: calc(100% - 40px - 50px);
    height: calc(100% - 90px);
    &:after, &:before {
        content: '';
        height: 20px;
        display: block;
    }
}