.test-text {
  font-size: 12px;
  border: 1px solid #CCCCCC;
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
}

.test-opts {
  margin: 20px;
}

.test-opt {
  display: flex;
  margin-bottom: 15px;
}

.test-opt-circle {
  color: #FFFFFF;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
}

.test-opt-text {
  width: calc(100% - 67px);
  margin-right: 10px;                  
  font-size: 12px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  padding: 10px;
}