.c--test_container {
  margin: 20px;
}

.c--test_text {
  font-size: 12px;
  border: 1px solid #CCCCCC;
  margin: 20px 0px;
  border-radius: 10px;
  padding: 10px;
}

.c--test_opts {
  margin: 20px 0px;
}

.c--test_opt {
  display: flex;
  margin-bottom: 15px;
}

.c--test_opt-circle {
  color: #FFFFFF;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
}

.c--test_opt-text {
  width: calc(100% - 67px);
  margin-right: 10px;                  
  font-size: 12px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  padding: 10px;
}

.c--test_solution {
  font-size: 12px;
}

.c--test_stats {
  display: flex;
  flex-direction: row;
}