.c--home_container {
  margin-left: 15px;
  margin-right: 1px;
  padding-right: 10px;
  // app-bar = 50
  height: calc(100% - 50px);
  &:before {
    content: '';
    height: 45px;
    display: block;
}
  &:after {
      content: '';
      height: 23px;
      display: block;
  }
}

.c--home_info-tags {
  margin-bottom: 48px;
}