.c--exam-info_button {
  bottom: 0;
}

.c--exam-info_container {
  margin-left: 20px;
  margin-right: 1px;
  padding-right: 10px;
  // app-bar + fixed-button  = 50 + 40
  // height: calc(100% - 50px - 40px);
  height: calc(100% - 90px);
  &:after, &:before {
    content: '';
    height: 20px;
    display: block;
  }
}
