.c--exam-info_button {
  bottom: 0;
}

.c--exam-info_container {
  margin: 20px;
  margin-right: 5px;
  padding-right: 15px;
  /* height: 100%; */
  // height: calc(100% - 40px - 40px - 45px);
  height: calc(100% - 125px);
}
