%text-placeholder {
  text-align: center;
  border-radius: 11px;
  line-height: 30px !important;
  padding: 0 5px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
  white-space: nowrap;
}
.info-tags--title {
  @extend %text-placeholder;
  width: 40%;
  background-color: #808285;
  color: #fff !important;
}

.info-tags--description {
  @extend %text-placeholder;
  width: 60%;
  background-color: #F0F0F0;
  margin-right: 5px !important;
}

.info-tags {
  display: flex;
  margin: 5px 0px;
}