%text-placeholder {
  text-align: center;
  border-radius: 11px;
  line-height: 30px !important;
  padding: 0 5px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
  white-space: nowrap;
  font-size: 12px;
  line-break: 21px;
  font-weight: bold;
  letter-spacing: -0.08px;
}
.info-tags--title {
  @extend %text-placeholder;

  width: 45%;
  background-color: #818181;
  color: #fff !important;
}

.info-tags--description {
  @extend %text-placeholder;
  width: 55%;
  background-color: #F0F0F0;
  margin-right: 5px !important;
}

.info-tags {
  display: flex;
  margin-top: 10px;
  &:first-child {
    margin-top: 0
  }
}