html {
  overflow: auto; // for full height which applies to body tag
}
body {
  // position: fixed;
  // width: 100%;
  width: 100vw;
  height: 100vh;
  margin: 0;
  color: white;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
